<%- include('includes/header') %>

  <div class="page-wrapper mdc-toolbar-fixed-adjust">
    <main class="content-wrapper">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card p-0">
              <h6 class="card-title card-padding pb-0">
                Products
              </h6>
              <% if(member) { %>
                <div class="table-responsive">
                  <table class="table table-hoverable">
                    <thead>
                      <tr>
                        <th style="text-align: center;">T/r</th>
                        <th style="text-align: center;">Product Name</th>
                        <th style="text-align: center;">Product Type</th>
                        <th style="text-align: center;">Product size/volume</th>
                        <th style="text-align: center;">Product Price</th>
                        <th style="text-align: center;">Product Photo</th>
                        <th style="text-align: center;">Status</th>
                      </tr>
                    </thead>
                    <!--  LOOP PRODUCTS: START  -->

                    <tbody>
                      <% products.map(function(value, key) { %>
                        <tr>
                          <td style="text-align: center;">
                            <%= key+1 %>
                          </td>
                          <td style="text-align: center;">
                            <%= value.productName %>
                          </td>
                          <td style="text-align: center;">
                            <%= value.productCollection %>
                          </td>
                          <td style="text-align: center;">
                            <%= value.productCollection==='TARIFF' ? value.tariffType: value.productSize %>
                          </td>
                          <td style="text-align: center;">

                            <% if (value.productDiscount> 0) { %>
                              <s>
                                <%= value.productPrice %>
                              </s><br /><br />
                              <%= value.productPrice-value.productDiscount %>
                                <% } else { %>
                                  <%= value.productPrice %>
                                    <% } %>
                          </td>
                          <td style="text-align: center;">
                            <img src="http://localhost:3004/<%= value.productImages[0] %>"
                              style="width: 100px; height: 50px; object-fit: cover;" />

                          </td>
                          <td style="text-align: center;">
                            <select class="spec-select new-product-status" id="<%= value._id %>">
                              <option value="PAUSE" <%=value.productStatus==='PAUSE' ? 'selected' : '' %>>PAUSE</option>
                              <option value="PROCESS" <%=value.productStatus==='PROCESS' ? 'selected' : '' %>>PROCESS
                              </option>
                              <option value="DELETE" <%=value.productStatus==='DELETE' ? 'selected' : '' %>>DELETE
                              </option>
                            </select>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                    <!--  LOOP PRODUCTS: END  -->
                  </table>
                </div>


            </div>
          </div>
        </div>
      </div>

    </main>
    <% } %>
      <script type="text/javascript" src="/js/products.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/products.css" />


      <%- include('includes/footer') %>