<%- include('includes/header') %>

  <link rel="stylesheet" type="text/css" href="/css/users.css" />
  <div class="page-wrapper mdc-toolbar-fixed-adjust">
    <main class="content-wrapper">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card p-0">
              <h6 class="card-title card-padding pb-0">
                Users
              </h6>
              <% if(member) { %>
                <div class="table-responsive">
                  <table class="table table-hoverable">
                    <thead>
                      <tr>
                        <th class="text-left">No</th>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">Phone</th>
                        <th style="text-align: center;">Status</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% users.map(function(value, index) { %>
                        <tr>
                          <td class="text-left">
                            <%= index + 1 %>
                          </td>
                          <td style="text-align: center;">
                            <%= value.memberNick %>
                          </td>
                          <td style="text-align: center;">
                            <%= value.memberPhone %>
                          </td>
                          <td style="text-align: center;">
                            <select class="spec-select member-status" id="<%= value._id %>">
                              <option value="ACTIVE" <%=value.memberStatus==='ACTIVE' ? 'selected' : '' %> >ACTIVE
                              </option>
                              <option value="BLOCK" <%=value.memberStatus==='BLOCK' ? 'selected' : '' %> >BLOCK</option>
                              <option value="DELETE" <%=value.memberStatus==='DELETE' ? 'selected' : '' %> >DELETE
                              </option>
                            </select>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% } %>
  </div>
  <script type="text/javascript" src="/js/users.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <%- include('includes/footer') %>